@model online_quiz.Models.Quize

@{
    Layout = "~/Views/Shared/_layout4.cshtml";
}

    <div>
        <p>@Model.Question<br />
            @Model.opt1<br />
            @Model.opt2<br />
            @Model.opt3<br />
            @Model.opt3<br />
            @Model.type<br />
        </p>
        
    </div>
